<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div class="text-danger">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>
      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
