<%= form_with(model: business, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } ) do |form| %>
  <%= render "shared/error_messages", object: business %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, placeholder: "Business Name", class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :tag_line, class: "form-label" %>
    <%= form.text_field :tag_line, placeholder: "Tag line of your business", class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :website_url, class: "form-label" %><em> (Optional)</em>
    <%= form.text_field :website_url, placeholder: "https://www.mywebsite.com", class: 'form-control' %>
  </div>

  <h6 class="text-center">Setup Email Configration</h6>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, placeholder: "example@gmail.com", class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.text_field :encrypted_password, placeholder: "your app password", class: 'form-control', required: true %>
  </div>

  <h6 class="text-center">Add Business Emails</h6>

  <%= form.fields_for :business_emails do |business_email_fields| %>
    <%= render "business_email_form", f: business_email_fields %>
  <% end %>

  <template data-nested-form-target="template">
    <%= form.fields_for :business_emails, BusinessEmail.new, child_index: 'NEW_RECORD' do |business_email_fields| %>
      <%= render "business_email_form", f: business_email_fields %>
    <% end %>
  </template>
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add", class="btn border btn-light">Add new business email</button>


  <div class="text-center mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
