<div class="p-3 d-flex flex-wrap justify-content-between">
  <div class="fs-4 fw-semibold"><%= @business.name %> | <%= @business.tag_line %></div>
  <div><%= link_to "New compaign", new_business_compaign_path(@business) %></div>
</div>

<div class="m-5">
  <div class="fw-semibold">Listed business emails</div>
  <ul>
    <% @business.business_emails.each do |business_email| %>
      <li><%= business_email.email %></li>
    <% end %>
  </ul>
</div>

<div class="m-5">
  <div class="fw-semibold ">compaigns: </div>
  <table class="table mt-3">
    <thead class="table-light">
      <tr>
        <td> Scheduled at </td>
        <td> compaign Count </td>
        <td> First Follow-up </td>
        <td> Second Follow-up </td>
        <td> Third Follow-up </td>
        <td> Fourth Follow-up </td>
        <td> Fifth Follow-up </td>
      </tr>
    </thead>
    <tbody>
      <% @business.compaigns.each do |compaign| %>
        <tr class="border-bottom">
          <td> <%= compaign.scheduled_at.strftime("For %A %d-%b-%Y") %> </td>
          <td> 
            <div><%= compaign.contacts_count %><div>
            <div><%= link_to "Show this compaign", compaign, class: "text-primary" %></div>
          </td>
          <% compaign.followups.each_with_index do |followup, i| %>
            <td> 
              <div><%= followup.sent_at.strftime("On %A %d-%b-%Y") %></div>
              <div><%= display_followup_status(followup, i+1 ) %></div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "Back to businesses", businesses_path %> |
  <%= link_to "Edit this business", edit_business_path(@business) %> |
  <%= button_to "Destroy this business", @business, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-light text-danger" %>
</div>
