<div style="font-family: Arial, sans-serif;">
  <!-- Body -->
  <%= @body.html_safe %>

  <!-- Footer -->
  <br/>
  <div>
    <div style="margin-bottom: 8px"><%= @business.name %></div>
    <div style="margin-bottom: 8px"><%= @business.tag_line %></div>
    <div>
      <% if @business.website_url.present? %>
        <a href="<%= @business&.website_url %>" target="_blank"><%= @business&.website_url %></a>
      <% end %>
    </div>
  </div>
</div>