<div class="p-5">
  <div class="d-flex flex-wrap justify-content-between">
    <% @compaign.followups.each_with_index do |followup, i| %>
      <div class="border border-2 w-16rem">
        <div class="fs-5 fw-semibold bg-light p-2"><%= num_to_text(i+1).titlecase %> Follow-up</div>
        <div class="p-2"><%= followup.sent_at.strftime("On %A %d-%b-%Y") %></div>
        <div class="p-2"><%= display_followup_status(followup, i+1 ) %></div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-wrap bg-light justify-content-between p-3 mt-5" >
    <div class="fw-semibold">Leads (<%= @compaign.leads_count %>)</div>
    <div><%= link_to "Edit this compaign", edit_compaign_path(@compaign) %></div>
    <div><%= button_to "Destroy this compaign", @compaign, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger" %></div>
  </div>

  <div class="row m-0 py-1 border-bottom bg-light fw-semibold mt-3">
    <div class="col">Name</div>
    <div class="col">Email</div>
    <div class="col">Email Subject</div>
    <div class="col">Status</div>
    <div class="col">Update Status</div>
  </div>
  <% @compaign.leads.includes(:generated_emails) .each do |lead| %>
    <%= turbo_frame_tag "edit_lead_#{lead.id}_frame" do %>
      <%= render 'shared/toast_notification' %>
      <%= render "shared/error_messages", object: lead %>
      <div class="row py-1 border-bottom m-0">
        <div class="col"><%= lead.name %></div>
        <div class="col"><%= lead.email %></div>
        <div class="col">
          <% if lead.generated_emails.exists? %>
            <%= lead.generated_emails.pluck(:subject).join %>
          <% end %>
        </div>
        <div class="col"><%= lead.active ? 'Active' : 'Inactive' %></div>
        <div class="col"><%= link_to "Edit this lead", edit_lead_path(lead) %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Back to business", @compaign.business %>
</div>
