<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :business_id, style: "display: block" %>
    <%= form.select :business_id, @businesses, {}, class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.label :first_followup, style: "display: block" %>
    <%= form.datetime_field :first_followup, class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.label :second_followup, style: "display: block" %>
    <%= form.datetime_field :second_followup, class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.label :third_followup, style: "display: block" %>
    <%= form.datetime_field :third_followup, class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.label :fourth_followup, style: "display: block" %>
    <%= form.datetime_field :fourth_followup, class: 'form-control', required: true %>
  </div>

  <div>
    <label>Upload Exel File:</label>
    <%= form.file_field :csv_file, placeholder: 'Email address...', class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.submit class: 'form-control' %>
  </div>
<% end %>
