<div id="<%= dom_id lead %>">
  <p>
    <strong>Business:</strong>
    <%= lead.business.name %>
  </p>

  <p>
    <strong>First followup:</strong>
    <%= lead.first_followup %>
  </p>

  <p>
    <strong>Second followup:</strong>
    <%= lead.second_followup %>
  </p>

  <p>
    <strong>Third followup:</strong>
    <%= lead.third_followup %>
  </p>

  <p>
    <strong>Fourth followup:</strong>
    <%= lead.fourth_followup %>
  </p>
</div>
