<div class="d-flex flex-column p-5 m-auto w-70rem mt-5 shadow">
  <h3 class="text-center">Send Emails</h3>

  <div class="text-start">
    <%= form_with(model: [ @business, @lead ], data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
      <%= render "shared/error_messages", object: @lead %>

      <div class="mb-3">
        <label for="business_id" class="form-label text-muted"><%= form.label :business_id %></label>
        <%= form.text_field :business_id, value: @business.name, class: 'form-control', readonly: true %>
      </div>

      <div class="mb-3">
        <%= form.label :business_email, class: 'form-label text-muted' %><br />
        <%= form.select :business_email_id, @business.business_emails.all.pluck(:email, :id), {}, class: "form-select" %>
      </div>

      <%= form.fields_for :followups do |followup_fields| %>
        <%= render "followup_form", f: followup_fields, followup_count: @lead.followups.size, business: @business %>
      <% end %>

      <template data-nested-form-target="template">
        <%= form.fields_for :followups, Followup.new, child_index: 'NEW_RECORD' do |followup_fields| %>
          <%= render "followup_form", f: followup_fields, followup_count: @lead.followups.size, business: @business %>
        <% end %>
      </template>
      <div data-nested-form-target="target"></div>

      <button type="button" data-action="nested-form#add", class="btn border btn-light">Add new followup</button>

      <div class="mb-3">
        <label class="form-label text-muted">Upload CSV File:</label>
        <%= form.file_field :csv_file, placeholder: 'Email address...', class: 'form-control', required: true %>
      </div>

      <div class="mb-3">
        <label class="form-label text-muted">Schedule lead</label>
        <%= form.datetime_field :scheduled_at, class: 'form-control', required: true %>
      </div>

      <div class="text-center">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <%= link_to "Back to business", @lead.business %>
</div>

