<div class="p-5">
  <div class="d-flex flex-wrap justify-content-between">

    <div class="border border-2 w-16rem">
      <div class="fs-5 fw-semibold bg-light p-2">First Follow-up</div>
      <div class="p-2"><%= @lead.first_followup.strftime("On %A %d-%b-%Y") %></div>
      <div class="p-2"><%= display_followup_status(@lead, 1) %></div>
    </div>

    <div class="border border-2 w-16rem">
      <div class="fs-5 fw-semibold bg-light p-2">Second Follow-up</div>
      <div class="p-2"><%= @lead.second_followup.strftime("On %A %d-%b-%Y") %></div>
      <div class="p-2"><%= display_followup_status(@lead, 2) %></div>
    </div>

    <div class="border border-2 w-16rem">
      <div class="fs-5 fw-semibold bg-light p-2">Third Follow-up</div>
      <div class="p-2"><%= @lead.third_followup.strftime("On %A %d-%b-%Y") %></div>
      <div class="p-2"><%= display_followup_status(@lead, 3) %></div>
    </div>

    <div class="border border-2 w-16rem">
      <div class="fs-5 fw-semibold bg-light p-2">Fourth Follow-up</div>
      <div class="p-2"><%= @lead.fourth_followup.strftime("On %A %d-%b-%Y") %></div>
      <div class="p-2"><%= display_followup_status(@lead, 4) %></div>
    </div>
  </div>

  <div class="d-flex flex-wrap bg-light justify-content-between p-3 mt-5" >
    <div class="fw-semibold">Contacts (<%= @lead.count %>)</div>
    <div><%= link_to "Edit this lead", edit_lead_path(@lead) %></div>
    <div><%= button_to "Destroy this lead", @lead, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger" %></div>
  </div>

  <div class="row m-0 py-1 border-bottom bg-light fw-semibold mt-3">
    <div class="col">Name</div>
    <div class="col">Email</div>
    <div class="col">Status</div>
    <div class="col">Update Status</div>
  </div>
  <% @lead.contacts.each do |contact| %>
    <%= turbo_frame_tag "edit_contact_#{contact.id}_frame" do %>
      <%= render 'shared/toast_notification' %>
      <%= render "shared/error_messages", object: contact %>
      <div class="row py-1 border-bottom m-0">
        <div class="col"><%= contact.name %></div>
        <div class="col"><%= contact.email %></div>
        <div class="col"><%= contact.active ? 'Active' : 'Inactive' %></div>
        <div class="col"><%= link_to "Edit this contact", edit_contact_path(contact) %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Back to business", @lead.business %>
</div>
