<%= form_with url: create_emails_path, method: :post do |form| %>
  <div>
    <label>Company Name:</label>
    <%= form.text_field :company_name, placeholder: 'Enter Company Name...', class: 'form-control', required: true %>
  </div>
  <div>
    <label>Enter your business email:</label>
    <%= form.email_field :business_email, placeholder: 'Email address...', class: 'form-control', required: true %>
  </div>
  <div>
    <label>Upload Exel File:</label>
    <%= form.file_field :csv_file, placeholder: 'Email address...', class: 'form-control', required: true %>
  </div>
  <div>
    <%= form.submit 'Generate Emails', class: 'form-control' %>
  </div>
<% end %>