<%= turbo_frame_tag "edit_contact_#{@contact.id}_frame" do %>
  <%= form_with(model: @contact) do |form| %>
    <%= render "shared/error_messages", object: @contact %>
    <div class="row py-1 border-bottom">
      <div class="col"><%= form.text_field :name, class: 'form-control' %></div>
      <div class="col"><%= form.text_field :email, readonly: true, class: 'form-control' %></div>
      <div class="col align-self-center"><%= form.check_box :active, class: "form-check-input" %></div>
      <div class="col"><%= form.submit class: "btn btn-link p-0" %></div>
    </div>
  <% end %>
<% end %>
